services:
  postgres:
    image: postgres:15-alpine
    container_name: shrimp-farm-postgres
    environment:
      POSTGRES_DB: db_shrimp_farm
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - shrimp-farm-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:
    driver: local

networks:
  shrimp-farm-network:
    driver: bridge
